{% extends "index.html" %}
{% load cache %}
{% cache 120 blog_template %}

{% load blurb_edit %}

{% block content %}
    {% for post in blog_posts %}
        <h2>{{ post.title }}</h2>
        <div class="bp_author">by {{ post.author.get_full_name }}</div>
        <span class="bp_date"><em>{{ post.pub_date|date:"l, j E Y"|lower }}</em></span>
        <div class="blog_post">{{ post.text|safe|linebreaksbr }}</div>
    {% endfor %}
{% endblock %}

{% block css %}
    .sponsor_logo {
    margin: 20px;
    }
{% endblock css %}

{% block right_column %}
{# {% wiki_blurb blog_right_column %} #}
{#      wydaje mi się, że ten blok nie powinien być wszucany do trans-stringów      #}
{#      ułatwi to wrzucanie niektórych ważnych informacji (np linków do sponsorów), #}
{#      w przyszłości to powinno być przesunięte do bazy. (dreamer_)                #}
<h2>Informacje:</h2>

<h4>Organizator</h4>
<p>
    <a href="http://www.uni.wroc.pl/"><img src='/static_media/images/logo_uwr.jpg' alt='Uniwersytet Wrocławski'
                                           title='Uniwersytet Wrocławski'/></a>
	<img src='/static_media/images/logo_ksi.png' alt='Koło Studentów Informatyki' title='Koło Studentów Informatyki UWr'/>
<span style="display: block; text-align: center"><a href="mailto:ksi@cs.uni.wroc.pl">ksi@cs.uni.wroc.pl</a></span>
</p>


{#<h4 style="margin-bottom:20px;">Sponsor główny</h4>#}
{#    <p style="text-align: center">#}
{##}
{#    <a href="http://www.pl.capgemini-sdm.com/"><img  style="margin-bottom:10px;" src='/static_media/images/capgemini.png' alt='Capgemini' title='Capgemini'/></a>#}
{#    </p>#}


<h4>Miejsce</h4>
<p>
    <a href="{{ definition.hotel_url }}">{{ definition.hotel }}</a> w
    <a href="{{ definition.city_url }}">{{ definition.city }}</a>
</p>
<p>
<h4>Planowane terminy</h4>
<ul style="margin-left:0.2em">
    <li>zapisy i wpłaty<br/>od {{ definition.registration_start|date:"j E Y" }}<br/>do {{ definition.registration_final|date:"j E Y, H:i" }}
    </li>
    <li>zgłaszanie wykładów<br/>do {{ definition.lectures_suggesting_final|date:"j E Y, H:i" }}</li>
    <li>zapisy na pokoje<br/>od {{ definition.rooming_start|date:"j F Y" }}<br/>do {{ definition.rooming_final|date:"j F Y, H:i" }}</li>
    <li>wyjazd<br/>{{ definition.zosia_start|date:"j E Y" }}</li>
    <li>powrót<br/>{{ definition.zosia_final|date:"j E Y" }}</li>
</ul>
</p>

{#<h4>Patronat</h4>#}
{#   <p>#}
{#   <ul>#}
{#       <li><a href="http://www.wmi.uni.wroc.pl/">Wydział Matematyki i Informatyki Uniwersytetu Wrocławskiego</a></li>#}
{#       <li><a href="http://www.uni.wroc.pl/">JM. Rektor Uniwersytetu Wrocławskiego</a></li> #}
{#       <li>Dyrektor Insytutu Informatyki Uniwersytetu Wrocławskiego - prof. Leszek Pacholski</li>#}
{#   </ul>#}
{#   </p>#}
{% if sponsors %}
<h4 style="margin-bottom:20px;">Partnerzy i sponsorzy</h4>
    {% for sponsor in sponsors %}
   <p style="text-align: center">
       <a href="{{ sponsor.url }}">
            <img style="margin-bottom:30px;" src='/static_media/{{ sponsor.logo }}' alt='{{ sponsor.name }}' title='{{ sponsor.name }}'/>
       </a>
   </p>
    {% endfor %}
{% endif %}


{% endblock %}
{% endcache %}
