{% extends "index.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% trans 'Główna' %}</a> &rsaquo; {% trans 'Restart hasła' %}</div>{% endblock %}

{% block title %}{% trans "Restart hasła" %}{% endblock %}

{% block content %}

<h1>{% trans "Restart hasła" %}</h1>

<p>{% trans "Nie pamiętasz hasła? Podaj swój ades email" %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">{% trans 'Adres email:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Zrestartuj hasło' %}" /></p>
</form>

{% endblock %}
