

{% for lecture in lectures %}
{##}
	<article class="lecture {% if lecture.photo_url %}{% cycle 'even' 'odd' %}{% else %}normal{% endif %}">
        {% if lecture.photo_url %}
        <aside>
            <img style="max-width:100px" src="{{ lecture.photo_url }}">
        </aside>
        {% endif %}

        <div>
        <header>
            <h4>{{ lecture.title }}</h4>
        </header>
		{{ lecture.abstract|safe }}

        <p class="author_description">
            <strong class="lecture_author">{% if lecture.author_show %}{{ lecture.author_show|safe }}{% else %}{{ lecture.author }}{% endif %}</strong>{% if lecture.description %}, {{ lecture.description|safe }}{% endif %}</p>
        </div>
	</article>
{##}
{% endfor %}
