{% extends "index.html" %}
{% load i18n %}

{% block css %}
#register_nights, 
#register_breakfasts, 
#register_dinners { 
    display: inline;
}
#register_nights     label,
#register_breakfasts label,
#register_dinners    label { 
    width: 10em;
}
#register_other label {
    display: inline;
    width: 15.3em;
}
.nasty_choices_li label { float: left; }
.nasty_choices_li select { width: 7em; }

input[type=text],
input[type=email],
input[type=password] {
	width: 15em;
}

input[type=password]:valid,
input[type=email]:valid,
#id_name:valid,
#id_surname:valid {
	outline: 1px #03de03 solid;
}

{# This is introduced due to the bug #24. #}
.float_right { float: right; }
{% endblock css %}

{% block javascript %}
function switch_org_form(selEl,addEl) {
    if(selEl.value == 'new') {
        addEl.style.display = 'inline';
        var f_new_org = document.getElementById('id_organization_2');
        f_new_org.focus();
    } else {
        addEl.style.display = 'none';
    }
}

function form_onload() {
    var f_org      = document.getElementById('id_organization_1');
    var f_add_org  = document.getElementById('id_add_org_1');
    f_org.onchange = function () { switch_org_form(f_org,f_add_org); };
    switch_org_form(f_org,f_add_org);
}
{% endblock %}

{% block onload %}
form_onload()
{% endblock onload %}

{% block content %}
    <h1 style="color:red;">Zabrakło miejsc :(</h1>
<p>Niestety osiągneliśmi limit pojemności ośrodka. Ponieważ jednak niewszyscy zarejestrowani zdecydują się na wyjazd, zachęcamy do wpisania się na listę rezerwową. Będziemy informować o zwolnieniu miejsc.</p>
<form action="../waiting/" method="post" id="register_form">{% csrf_token %}
    <fieldset id="register_auth">
        <legend>Dane do uwierzytelniania</legend>
        <ol>
            <li>
                {% if user_form.email.errors %}
                <ul class="errorlist float_right">
                {% for error in user_form.email.errors %}
                    <li>{{error|escape}}</li>
                {% endfor %}
                </ul>
                {% endif %}
				<label for="id_email">e-mail <span>(wymagane)</span></label>
				<input type="email" name="email" id="id_email" required /> {# form.email #}
            </li>
            <li>
                {% if user_form.password.errors %}
                <ul class="errorlist float_right">
                {% for error in user_form.password.errors %}
                    <li>{{error|escape}}</li>
                {% endfor %}
                </ul>
                {% endif %}
                <label for="id_password">{% trans "hasło" %} <span>{% trans "(wymagane)" %}</span></label>
				<input type="password" name="password" id="id_password" required pattern=".{6,}" /> {# form.password #}
            </li>
            <li>
                {% if user_form.password2.errors %}
                <ul class="errorlist float_right">
                {% for error in user_form.password2.errors %}
                    <li>{{error|escape}}</li>
                {% endfor %}
                </ul>
                {% endif %}
                <label for="id_password2">{% trans "powtórz hasło" %} <span>{% trans "(wymagane)" %}</span></label>
				<input type="password" name="password2" id="id_password2" required pattern=".{6,}" /> {# form.password2 #}
            </li>
        </ol>
    </fieldset>
    <fieldset id="register_personal">
        <legend>{% trans "Dane osobowe" %}</legend>
        <ol>
            <li>
                {% if user_form.name.errors %}
                <ul class="errorlist float_right">
                {% for error in user_form.name.errors %}
                    <li>{{error|escape}}</li>
                {% endfor %}
                </ul>
                {% endif %}
                <label for="id_first_name">{% trans "imię" %} <span>{% trans "(wymagane)" %}</span></label>
				<input type="text" name="first_name" id="id_first_name" required pattern="[^\d\!\@\#\$\%\^\&\*\(\)\-\_\=\+\[\]\;\:\'\,\<\.\>\/\?]+" />
            </li>
            <li>
                {% if user_form.last_name.errors %}
                <ul class="errorlist float_right">
                {% for error in user_form.last_name.errors %}
                    <li>{{error|escape}}</li>
                {% endfor %}
                </ul>
                {% endif %}
                <label for="id_last_name">{% trans "nazwisko" %} <span>{% trans "(wymagane)" %}</span></label>
				<input type="text" name="last_name" id="id_last_name" required pattern="[^\d\!\@\#\$\%\^\&\*\(\)\_\=\+\[\]\;\:\,\<\.\>\/\?]+" />
            </li>
	    <li>

        </ol>
    </fieldset>
    <fieldset id="register_nights">
        <legend>{% trans "noclegi" %}</legend>
        <ol>
            {% if pref_form.day_3.errors %}
            <ul class="errorlist float_right">
            {% for error in pref_form.day_3.errors %}
                <li>{{error|escape}}</li>
            {% endfor %}
            </ul>
            {% endif %}
            <li>
            {{ pref_form.day_1 }} <label for="id_day_1">{% ifequal date_1.month date_2.month %}
                {{ date_1|date:"j" }}/{{ date_2|date:"j E" }}
            {% else %}
                {{ date_1|date:"j E" }} / {{ date_2|date:"j E" }}
            {% endifequal %} </label>
            </li>
            <li>
            {{ pref_form.day_2 }} <label for="id_day_2">{% ifequal date_2.month date_3.month %}
                {{ date_2|date:"j" }}/{{ date_3|date:"j E" }}
            {% else %}
                {{ date_2|date:"j E" }} / {{ date_3|date:"j E" }}
            {% endifequal %} </label>
            </li>
            <li>
            {{ pref_form.day_3 }} <label for="id_day_3">{% ifequal date_3.month date_4.month %}
                {{ date_3|date:"j" }}/{{ date_4|date:"j E" }}
            {% else %}
                {{ date_3|date:"j E" }} / {{ date_4|date:"j E" }}
            {% endifequal %} </label>
            </li>
        </ol>
    </fieldset>
    <fieldset><input type="submit" value="{% trans "rejestruj na listę rezerwową" %}" /></fieldset>
</form>
{% endblock content %}

{% block right_column %}
<span class="cennik">Cennik</span>

<table>
<tr><td>nocleg:</td><td>{{ definition.price_overnight }}&nbsp;zł</td></tr>
<tr><td>nocleg ze śniadaniem:</td><td>{{ definition.price_overnight_breakfast }}&nbsp;zł</td></tr>
<tr><td>nocleg z obiadokolacją:</td><td>{{ definition.price_overnight_dinner }}&nbsp;zł</td></tr>
<tr><td>nocleg ze śniadaniem i obiadokolacją:</td><td>{{ definition.price_overnight_full }}&nbsp;zł</td></tr>
{% if definition.price_organization %}
    <tr><td>opłata organizacyjna:</td><td>{{ definition.price_organization }}&nbsp;zł</td></tr>
{% endif %}
<tr><td>transport:</td><td>{{ definition.price_transport }}&nbsp;zł</td></tr>
</table>

{% endblock %}

