{% extends "index.html" %}
{% load i18n %}

{% block css %}
label { min-width:3em; }
#submitbutton { margin-left:6.9em; }
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h2>{% trans "Jesteś zalogowany" %}</h2>
{% else %}
    <h2>{% trans "Zapraszamy do zalogowania się." %}</h2>
    {% if form.errors %}
        <p>Podany adres e-mail i hasło są niepoprawne.</p>
    {% endif %}
    <form action="{% url 'login' %}" method="post" id="login_form">{% csrf_token %}
        <table>
        </table>
        <fieldset>
            <ol>
           {% for field in form %}
                <li>
                {% if field.errors %}
                    <ul class="errorlist">
                    {% for error in field.errors %}
                        <li>{{error|escape}}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <label>{{ field.label }}</label>
                {{ field }}
                </li>
            {% endfor %}
            </ol>
        </fieldset>
        <input type="submit" value="{% trans "loginbutton" %}" id="submitbutton"/>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endif %}
{% endblock %}

